.delete {
color: red;
    display: none;
    cursor:pointer;
    float:right;
}

.toDoList{
    max-width: 500px;
    margin-top: 50px;
    margin: 0 auto;

}

.toDoList .tasks:hover .delete{
    display: inline-block;
}

.tasks .done {
    text-decoration: line-through;
}

.footer{
    display: flex;
}

.footer div {
    padding: 10px;
    margin-top:10px;
}

.footer .buttons button.selected {
    border: 1px solid grey;
}