.header{
    grid-area: h;
    background-color:orange;
    }
    .header img{
      width: 50px;
    }
    .loginBlock a {
    color:white
      }

      .loginBlock {
        margin-top: 10px;
      }

