.descriptionBlock {
   /* padding:10px;
    display: grid;
    !*grid-template-columns: 3fr 3fr;*!
    grid-template-rows: 300px 250px;
    grid-template-areas:
    "p"
    "d "*/

}
 .mainPhoto {
     margin-top: -75px;

 }
.mainPhoto > img {
    border-radius: 100%;
    border: 6px solid #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 132px;
    height: 132px;
    background-color: #FDFBEE;
    display: inline-block;
 }

.coverPhoto img {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 400px;
}

.coverPhoto {
    position: relative;


}


 .descriptionPerson{
    grid-area: d;
 }

 .contacts{
     padding-left:20px;
     display: grid;
     grid-template-columns: 60% 40%;
     padding-right:20px;

 }

 .row{
    display: grid;
    grid-template-columns: 2fr 3fr;
 }

 .row TextArea{
     margin-bottom: 10px;
 }

 .contacts Input{
     width:120px;
 }

.rowContacts{
    display: grid;
    grid-template-columns: 80% 20%;
}

 .profileDescription{
     display: grid;

     grid-template-columns: 6fr 6fr;
     grid-template-areas:
             "f s";
 }

 .firstDescription{
     grid-area: f;
 }

 .secondDescription{
     grid-area: s;
 }

 .editPhoto{
     background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
     bottom: 225px;
     color: #fff;
     left: 475px;
     padding: 5px 20px;
     position: absolute;
     z-index: 9;
     border-radius: 3px;
     border: 1px solid transparent;
 }

.fileContainer {
    margin-top: -50px;
}

.fileBtn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileBtn + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #1890ff;
    display: inline-block;
    border-radius: 100%;

}
.fileBtn:focus + label,
.fileBtn + label:hover {
    background-color: #1890ff;
}

.fileBtn + label {
    cursor: pointer; /* "hand" cursor */
}

.fileBtn:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.UploadOutlined{
    width: 50px;
    height: 50px;
}
