.formControl.error input,
.formControl.error textarea {
border: 2px red solid;
}

.formControl.error span {
    color:red;
}

.formSummaryError {
    border: 2px solid red;
    color: red;
    padding: 5px;
}

.formGroup {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
  }
  
  .formGroup input, .formGroup textarea {
    
    background: 0 0;
    padding: .125rem .125rem .0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all .28s ease;
    box-shadow: none;
  }
  
  .formGroup [type="checkbox"] {
   
   
    padding-left: .125rem;
    z-index: 1;
    color: #b7b7b7;
    font-size: 1rem;
    font-weight: 400;
   
    transition: all .28s ease;
  }
  

  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
 
  
  .formGroup .mtrlSelect {
    position: relative;
    border-bottom: .0625rem solid #e1e8ed;
    display: block;
  }

  .form-group .mtrlSelect::before {
    content: '';
    height: .125rem;
    width: 0;
    left: 50%;
    bottom: -.0625rem;
    position: absolute;
    background: #088dcd;
    -webkit-transition: left .28s ease,width .28s ease;
    transition: left .28s ease,width .28s ease;
    z-index: 2;
}
