.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems{
padding: 10px;
color:white;
}

.dialogs .dialogsItems a{
    color:white;
    text-decoration: none;
    }

.dialogsItems.item {

}

img{
    width: 20px;
    }
.dialogsItems .active{
color:gold;
}

.messages{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    
}


.message:nth-child(2n){
    align-items: flex-end;

    
}