.item {
    margin: 10px;
   
}

.dialogs .dialogsItems{
padding: 10px;
color:back;
}

.dialogs .dialogsItems a{
    color:black;
    text-decoration: none;
    }




.dialogsItems .active{
color:gold;
}

.message{
    
    display: flex;
    flex-direction: column;
   
    margin: 10px;
    
}
.messageBody{
    width: 50%;
    background: rgba(202, 239, 142, .65);
    border-radius: 10px;
    padding: 10px;
}   
    



.message:nth-child(2n){
    align-items: flex-end;

    
}